<h1>Encuesta Taller de Programación II</h1>

<form class="form-horizontal">
<fieldset>
<!-- Text input-->
<div class="control-group">
       <div class="form-question">
            <label class="ss-q-item-label">
                <div class="q-title">Calidad de contenidos:</div>
            </label>
            <div class="radio-buttons">
                <span>Malo</span> <input class="radio-input" name="amabilidadRadio" id="amabilidad_malo" type="radio" value="amabilidad_malo">
                
                <span>Regular</span> <input class="radio-input" name="amabilidadRadio" id="amabilidad_regular" type="radio" value="amabilidad_regular">
                
                <span>Bueno</span> <input class="radio-input" name="amabilidadRadio" id="amabilidad_bueno" type="radio" value="amabilidad_bueno">
                
                <span>Excelente</span> <input class="radio-input" name="amabilidadRadio" id="amabilidad_excelente" type="radio" value="amabilidad_excelente">
            </div>
        </div>
        
        <div class="form-question">
            <label class="ss-q-item-label">
                <div class="q-title"> El temario de la asignatura con relación al tiempo disponible le resultó:</div>
            </label>
            <div class="radio-buttons">
                <span>Malo</span> <input class="radio-input" name="disposicionRadio" id="disposicion_malo" type="radio" value="disposicion_malo">
                
                <span>Regular</span> <input class="radio-input" name="disposicionRadio" id="disposicion_regular" type="radio" value="disposicion_regular">
                
                <span>Bueno</span> <input class="radio-input" name="disposicionRadio" id="disposicion_bueno" type="radio" value="disposicion_bueno">
                
                <span>Excelente</span> <input class="radio-input" name="disposicionRadio" id="disposicion_excelente" type="radio" value="disposicion_excelente">
            </div>
        </div>
        
        
        <div class="form-question">
            <label class="ss-q-item-label">
                <div class="q-title"> Indique cómo calificaría los resultados generales de la asignatura:</div>
            </label>
            <div class="radio-buttons">
                <span>Malo</span> <input class="radio-input" name="capacidadRadio" id="capacidad_malo" type="radio" value="capacidad_malo">
                
                <span>Regular</span> <input class="radio-input" name="capacidadRadio" id="capacidad_regular" type="radio" value="capacidad_regular">
                
                <span>Bueno</span> <input class="radio-input" name="capacidadRadio" id="capacidad_bueno" type="radio" value="capacidad_bueno">
                
                <span>Excelente</span> <input class="radio-input" name="capacidadRadio" id="capacidad_excelente" type="radio" value="capacidad_excelente">
            </div>
        </div>
        
        <div class="form-question">
            <label class="ss-q-item-label">
                <div class="q-title">¿Recomendaría la asignatura?</div>
            </label>
            <div class="radio-buttons">
                <span>1</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_uno" type="radio" value="recomendacion_uno">
                
                <span>2</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_dos" type="radio" value="recomendacion_dos">
                
                <span>3</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_tres" type="radio" value="recomendacion_tres">
                
                <span>4</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_cuatro" type="radio" value="recomendacion_cuatro">
                
                <span>5</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_cinco" type="radio" value="recomendacion_cinco">
                                        
                <span>6</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_seis" type="radio" value="recomendacion_seis">
                                                                
                <span>7</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_siete" type="radio" value="recomendacion_siete">

                <span>8</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_ocho" type="radio" value="recomendacion_ocho">
                
                <span>9</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_nueve" type="radio" value="recomendacion_nueve">
                
                <span>10</span> <input class="radio-input" name="recomendacionRadio" id="recomendacion_diez" type="radio" value="recomendacion_diez">
                
            </div>
        </div>
        
        <div class="form-question">
            <label class="ss-q-item-label">
                <div class="q-title"> ¿Encontró una apropiada conexión entre esta asignatura y las que le preceden?</div>
            </label>
            <div class="radio-buttons">
                <span>Si</span> <input class="radio-input" name="consulta48hsRadio" id="consulta48hs_si" type="radio" value="consulta48hs_si">
                
                <span>No</span> <input class="radio-input" name="consulta48hsRadio" id="consulta48hs_no" type="radio" value="consulta48hs_no">
            </div>
        </div>
                        
        
        <div class="form-question">
            <label class="ss-q-item-label">
                <div class="q-title">Comentarios y Sugerencias:</div>
            </label>
            <textarea id="comentariosTxt" rows="8" cols="0" class="text-area-long" id="entry_1100643749" dir="auto"></textarea>
        </div>
    </div>
<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="btnCancelar"></label>
  <div class="controls">
    <button id="btnCancelar" name="btnCancelar" class="btn btn-success">Enviar encuesta</button>
  </div>
</div>
</div>
</fieldset>
</form>
